/* App.css */
body {
  margin: 0;
  padding: 0;
  background: url('annie-spratt-0ZPSX_mQ3xI-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;

}

h1 {
  font-family: 'Gazpacho', Arial, sans-serif;
}
